@import "frontend/common/styles/vars";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none !important;

    *:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

:root, body {
    font-family: $ff_prime, $ff_sec, $ff_aux;
    font-size: $rem + px;
    line-height: $lh;
}

a {
    color: inherit;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        color: currentColor;
    }

    &.back-link {
        padding-left: $mrgmp;
        position: relative;

        &::before {
            content: '\02190';
            font-size: 1.5em;
            left: 0;
            line-height: 1;
            position: absolute;
            top: 50%;
            transform: translateY(-60%);
        }
    }

    &.burger-cont {
        text-decoration: none;
    }

    &.lined {
        text-decoration: underline;
    }

    &.plain {
        text-decoration: none;
    }
}

article {
    animation: fadein .5s ease-in-out;

    section {
        padding: $mrgl 0;
    }
}

b, strong {
    font-weight: $fw_med;
}

body {

    &.backdrop {
        height: 100%;

        &::before {
            @include stretch(fixed);
            background: rgba($black, .5);
            content: '';
            height: 200vh;
            z-index: 100;
        }
    }

    &.hovered {

        #head {
            border: none;
            left: 0;
            position: absolute;
            right: 0;
            z-index: 1;
        }

        & > :first-child {
            padding-top: $mrgxxl * 3;
        }
    }
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
    line-height: $lh_alt;
    font-weight: $fw_med;
    margin: 0;
}

h1, .h1 {
    font-size: px2rem($fs_h1);
}

h2, .h2 {
    font-size: px2rem($fs_h2);
}

h4, .h4 {
    font-size: px2rem($fs_h4);
}

h6, .h6 {
    font-size: px2rem($fs_h6);
}

hr {
    margin: 0;
}

img,
video {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;

    &.fw {
        width: 100%
    }

    &.fh {
        height: 100%;
    }
}

.as {

    &-fe {
        align-self: flex-end;
    }
}

.burger {
    display: inline-block;
    width: 30px;

    &,
    &::before,
    &::after,
    {
        border-top: 3px solid;
        content: '';
        display: block;
    }

    &::before {
        margin: 5px 0;
    }
}

.burger-cont {
    @include get_flex;
    flex-wrap: nowrap;

    .burger {
        margin-left: $mrgxxs;
    }
}

.color {
    width: 18px;
    height: 18px;
    border-radius: 100%;

    & + * {
        margin-left: $mrgs;
    }
}

.close-btn {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    opacity: .7;
    width: 20px;
    padding-top: 10px;

    &::before,
    &::after
    {
        border-top: 2px solid;
        content: '';
        display: block;
    }

    &::before {
        transform: rotate(45deg) translateY(-1px);
    }

    &::after {
        transform: rotate(-45deg) translate(2px, -2px);
    }

    &:hover {
        opacity: 1;
    }
}

.desc-sect {
    padding: $mrgl 0;
    text-align: center;

    .slider {

        img {
            width: 100%;
        }
    }

    .subtitle {
        font-size: px2rem($fs_s);
        letter-spacing: .25rem;
        margin-bottom: $mrgs;
        text-transform: uppercase;
    }
}

.error-log:not(:empty) {
    margin-top: $mrgs;
    color: $red;
}

.form-disclamer {
    font-size: px2rem($fs_xxs);
    margin-top: $mrgm;
}

.form-grid {

    .form-grid-row {
        @include get_flex(stretch, stretch);
        border: 1px solid;

        &:not(:first-of-type) {
            border-top: none;
        }

        &:first-of-type {
            border-top-left-radius: px2rem(15);
            border-top-right-radius: px2rem(15);
        }

        &:last-of-type {
            border-bottom-left-radius: px2rem(15);
            border-bottom-right-radius: px2rem(15);
        }

        & > *:not(:first-child) {
            border-left: 1px solid !important;
        }

        input,
        label,
        select,
        textarea {
            border: none !important;
            border-radius: 0 !important;
            flex: 1 1 auto;
            font-size: px2rem($fs_s);
            margin: 0;
            padding: $mrgxs $mrgs;

            &:not(label):not(.shrunk) {
                flex-basis: auto;
            }

            &.shrunk {
                flex: 0 0 20% !important;
                min-width: 0 !important;
                width: auto !important;
            }
        }

        label {
           flex: 0 0 30% !important;
        }

        select {
            background-position-x: calc(100% - 20px);
        }

        textarea {
            width: auto !important;
        }
    }
}

.grid {
    margin-bottom: -$mrgl;

    .cell {
        margin-bottom: $mrgl;

        .item {
            display: block;
            text-decoration: none;
        }

        h4, .h4 {
            margin-top: $mrgs;
        }

        .desc {
            margin-top: $mrgs;
        }
    }

    &.block-links {

        .cell {

            .item {

                .image {
                    overflow: hidden;
                    position: relative;

                    img {
                        transition: all .3s ease-in-out;
                    }

                    &::after {
                        @include stretch;
                        content: '';
                        z-index: 1;
                        opacity: 0;
                        background-color: rgba($black, .1);
                        transition: opacity .3s ease;
                    }
                }

                &:hover {
                    color: inherit;

                    .image {

                        img {
                            transform: scale(1.06);
                        }

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.grided {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.head-message {
    &:not(:empty) {
        margin-bottom: $mrgl;
    }

    &.error {
        color: $red;
    }

    &.success {
        margin: 0;
        padding: $mrgm 0;
        text-align: center;
        color: $white;
        background-color: $green;
        font-weight: $fw_med;
    }
}

.heading-desc {
    margin: $mrgl 0;

    &:empty {
        margin: 0;
    }
}

.heading-like {
    @extend .h2;
    font-family: $ff_prime;
    font-size: px2rem(32);
    font-weight: $fw_med;
}

.hidden {
    display: none !important;
}

.hoverable {
    transition: transform .3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.infolayer {
    padding: $mrgl 0 $mrgxl;
    overflow-y: auto;
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.item {

    .image {

        img {
            transition: transform .3s ease-out;
        }

        &:hover {

            img {
                transform: scale(1.03);
            }
        }
    }

    .desc {
        margin: $mrgs auto 0;
        min-width: 100px;
    }

    a {
        text-decoration: underline;
    }

    [data-price] {
        margin-top: $mrgxxs;
    }

    .btn,
    .counter {
        margin: $mrgs auto 0;
    }

    .btn {
        width: 60% !important;
        min-width: 100px !important;
    }
}

.items-list, .slider {

    .item {
        height: 100%;

        .desc {
            display: block;
            overflow: hidden;
        }
    }
}

.loading {
    @include backdrop(100, .8);
    position: relative;

    &::before {
        animation: rotateY 1.5s ease-in-out infinite;
        backface-visibility: revert;
        background: center center no-repeat;
        content: '';
        display: block;
        height: 50px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: calc(50% - 25px);
        width: 70px;
        z-index: 200;
    }
}

.page-desc {
    padding: $mrgmp 0 $mrgl;

    &.sectional {
        padding-bottom: 0;
    }

    .section-desc {
        margin-top: 0;
    }
}

.page-nav {
    margin: 0 -30px;

    a {
        border-bottom: 1px dashed;
        display: inline-block;
        margin: 0 30px;
        padding-bottom: $mrgxxs;
        text-decoration: none;
    }
}

.placeholder {

    &:empty {
        display: none;
    }
}

.section-desc {
    margin-top: $mrgmp;

    &:empty {
        display: none;
    }
}

.socials {
    @include get_flex;

    a, .social {
        height: 40px;
    }
}

.video-frame > a,
a.video-frame {
    position: relative;
    display: block;

    &::after {
        @include stretch;
        content: '';
        background: rgba($black, .3) $icon_play center center/90px no-repeat;
        z-index: 1;
        transition: background-color .3s ease;
    }

    &:hover {

        &::after {
            background-color: rgba($black, .8);
        }
    }
}

[data-price] {

    &::before {
        content: attr(data-price);
    }

    &::after {
        content: '.-';
        //content: ' \20bd';
    }

    &.discounted {

        &::before {
            text-decoration: line-through;
        }
    }
}