/*
Illustrated Features.

utils:

- abs
- al-(center, right, left, just)
- bg-(bgrey,black,blue,brown,cyan,dblue,dgreen,dorange,dpurple,dred,dyellow,golden,green,grey,indigo,ocean,orange,pink,purple,red,white,yellow)
- btn
- d-(bl, ibl)
- divider: halfed, quartered, triole
- inputs (text, number, checkbox, radio, select, textarea)
- text-link
- to-(left, right, bottom, top)

components:

- accordeon
- parallax

 */

.wrk.accordeon {

    &:not(.static) {

        .cont {

            &.active {
                max-height: 200vh;
            }
        }
    }
}

.parallax {
    border-bottom: inset 10px black;

    .back-layer {
        background: repeating-linear-gradient(
                        transparent 0px,
                        transparent 50px,
                        rgba(255,128,128,0.3) 50px,
                        rgba(255,128,128,0.3) 100px
        );
    }

    .mid-layer {
        background: repeating-linear-gradient(
                        rgba(70, 255, 117, 0.3) 0px,
                        rgba(70, 255, 117, 0.3) 50px,
                        transparent 50px,
                        transparent 100px
        );
    }
}

.opt-conf {

    .tab {
        padding: 20px 10px;
        margin-right: $mrgs;

        &.active {
            background-color: $bright-grey;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .oc-option {
        display: inline-block;
        margin: 20px 10px;

        &.active {
            box-shadow: 1px 1px 10px $black;
        }
    }

    .oc-cont {

        [data-option] {
            height: 350px;
            width: 100%;

            &.active {
                opacity: .5 !important;
            }
        }
    }
}

.slider {
    margin-top: $mrgm;

    .slide {
        font-size: px2rem(123);
        padding: $mrgxxl 0;
        text-align: center;

        div {
            font-size: px2rem(250);
            text-align: center;
        }
    }

    .slider-controls {
        font-size: px2rem(36);
        font-weight: bold;
        line-height: 1;
    }

    .slider-dots {
        padding: $mrgxs;
    }
}